:root {
  --gray-100: #ededed;
  --gray-200: #777777;
  --gray-300: #444444;
  --blue: #0011bb;
  --purple: #6600cc;
}

html,
body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  color: var(--gray-300);
  text-align: center;
}

header {
  display: flex;
  background-color: var(--gray-100);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header h1 {
  color: var(--gray-200);
}

header img {
  width: 50px;
}

main {
  max-width: 550px;
  margin: 0 auto;
}

.profile img {
  width: 200px;
  height: 200px;
  margin: 0 1rem;
}

.profile {
  display: flex;
}

.two-column {
  display: grid;
  grid-template-columns: 120px 1fr;
  text-align: left;
}

.two-column p,
.two-column h4 {
  margin-top: 0px;
}

.home table {
  border-collapse: collapse;
  border-spacing: 0;
}

.home table th {
  cursor: pointer;
}

.home table tbody {
  border-top: 1rem solid transparent;
}

.home table tbody tr td:first-child {
  text-align: left;
}

.home table td {
  padding: 4px;
}

.content {
  text-align: left;
}

.content thead,
.content tbody {
  float: left;
}

.content tbody {
  border-left: 1rem solid transparent;
}

.content thead th,
.content tbody td {
  display: block;
}
