:root {
  --gray-100: #ededed;
  --gray-200: #777777;
  --gray-300: #444444;
  --blue: #0011bb;
  --purple: #6600cc;
}

html,
body {
  margin: 0;
}

.App {
  font-family: sans-serif;
  color: var(--gray-300);
}

header {
  display: flex;
  background-color: var(--gray-100);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header h1 {
  color: var(--gray-200);
}

header img {
  width: 50px;
}
